// @import '../../styles/debug.scss';
@import '../../styles/styles';

.about {
  height: 252px;
  padding: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  background: $bg3;
}

.about-logo {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  align-items: center;

  & img {
    cursor: pointer;
    user-select: none;
  }
}

.about-content {
  height: 100%;
  min-width: 480px;
  float: left;

  & h3 {
    margin-left: 20px;
  }
}
